#test { float:left; border:1px solid #ccc; padding:5px; font-family:Arial; } 
#test span.elTag{ cursor:pointer; display:block; float:left; color:#fff; background:#000; padding:5px; padding-right:25px; margin:4px; border-radius: 5px; } 
#test span.elTag:hover{ opacity:0.7; } 
#test span.elTag:after{ position:absolute; content:"x"; border:1px solid; padding:0 4px 2px; margin:1px 0 10px 5px; font-size:10px; } 
#test input{ background:#eee; border:0; margin:4px; padding:7px; width:auto; }